
html {background-color: #E4E5E6; font-family: Arial}

body {background-color: #99CCCC;  width: 90%;  margin-left: auto;  margin-right: auto; }

h1 {color: #016699}

#navigation {background-color: #004466 }

