  body {
    background: #FAF9F6;
    margin: 0px;
  }

  .body{
    margin: 8px;
    padding-bottom: 12px;
    display: flex;
  }

  .body-content {
    width: 100%;
    margin-right: 8px;
    margin-left: 20px;
  }

  .body-image { 
    margin-right: 30px;
    margin-top: 20px;
    float: right;
  }
  .header-image > img,
  .body-image > img {
    border-radius: 5px;
    border: rgb(56, 56, 56) 2px inset;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .contact-form {
    border-radius: 15px;
    margin-top: 30px !important;
    margin: auto;
    left: 50%;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(255 249 230);
    padding: 15px;
  }
  
  .footer {
    font-size: small;
    text-align: center;
    position: fixed;
    right: 0;
    bottom:0;
    width:100%;
    height:20px;
    background:#cebdad;
  }
   .footer > p{ 
      padding-bottom: 5px;
   }

  .navbar {
    width: 100%;
    background: #995695a2;
    height: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
    border-top: gold 5px solid;
  }
  
  .navbar > .navItem {
    color: #fff;
    text-decoration: none;
    border-left: #F2E6D8 1px solid;
    border-right: #F2E6D8 1px solid;
    padding: 10px;
    transition: 0.3s;
  } 

  .navItem:hover {
    color: #000;
    background: #F2E6D8
  }

  .navbar > .navItem > a {
    color: #000;
    text-decoration: none;
  }

  .navbar > .navItem > a:visited {
    color: #000;
    text-decoration: none;
  }

  table {
    border-collapse: collapse;
    width: 80%;
  }

  th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid rgb(56, 56, 56);
  }

  th {
    color: white;
    border-bottom: goldenrod 2px solid;
    background-color: #995695a2;
  }

  tr:nth-child(even) {
    background-color: #F2E6D8;
  }
  tr:nth-child(odd) {
    background-color: #f3eae1;
  }

  .meal-heading{
    text-align: center;
    font-family: cursive;
  }

  hr.solid {
    width:60%;
    border-top: 2px solid #bbb;
  }

  .fa {
    padding: 20px;
    font-size: 30px !important;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-instagram {
    background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background-color: rgb(1 119 181);
    color: white;
  }
   
  .socials {
    display: flex;
  }

  .socials > p { 
    margin-right: 16px;
  }

  .socials > a { 
    margin-right: 12px;
  }

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #995695a2; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }