
.cookbook-body {
    margin: auto;
    width: 90%;
    margin-bottom: 80px !important;
}

.cookbook-menu {
    background: rgb(233, 233, 233);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
}

.cookbook-menu-row {
    margin-top: 12px;
    padding: 5px;
}

.cookbook-menu-column {
    margin-right: 8px;
    margin-left: 8px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
    display: flex;
    justify-items: center;
    background: #fff;
    border-radius: 5px;
}

.cookbook-menu-column-steps {
    margin-right: 8px;
    margin-left: 8px;
    flex-grow: 2;
    padding: 5px;
}

.cookbook-menu-column-img {
    margin-right: 8px;
    margin-left: 8px;
    padding: 5px;
    background: rgb(222, 222, 222);
    align-self: center;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
}

.cookbook-menu-column-header {
    font-family: cursive;
    margin: 10px;
    text-align: center;
}
 
.column-img {
    align-self: center;
}

.prep-cook-serve {
    display: flex;
}
.prep-cook-serve > p {
    padding-right: 30px;
}

#instructions > li {
    margin-top: 10px;
}

hr.menu-divider {
    width:60%;
    border-top: 2px solid goldenrod;
  }